

body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url("http://files.www.newmediacampaigns.com/blog/docker-for-php-developers/docker-banner2.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.content {
    width: 50%;
    background:rgba(255,255,255,0.5);
    padding: 10;
    height: 150px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    margin: auto;
    border-radius: 2px,2px,2px,2px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.search {

    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
}
.button {
    margin: auto;
    padding:6px 15px;
    left:-8px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
}
.button:hover  {
    background-color:#fafafa;
    color:#207cca;
}

.header-key {
    background-color: #008AB5;
}

.footer-color {
    background-color: #061d2f;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

}